body
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(air1.png);
    background-size:70rem;
    background-position-x: 35rem;
    background-repeat:no-repeat;
    background-color: #4834d4;
}

.navbar
{
    /* position: fixed; */
    top: 0px;
    left: 0px;
    height: 5vh;
    width: 100%;
    /* background-color:#ab0c29; */
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    z-index: 99;
    background-color: #01a3a4;
    border-radius: 10px 10px 0 0;
}

.navbar-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0px;
    /* background-color: grey; */
}

.navbar-right
{
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.navbarcomp
{
    /* width: 450px; */
    width: 100%;
    top: 10vh;
    padding: 0px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: #eb3b5a; */
    -webkit-box-align: center;
}

/* .navbarcomp-1
{
    color: rgb(204, 204, 204);
    padding: 1.5rem;
    display: flex;
    outline: none;
    align-items: center;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
} */

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gk1
{
    text-decoration: none;
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.h
{
    width: 100%;
    height: 10vh;
    margin-bottom: 2px;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 2rem;
}

.home {
    margin-top: 1rem;
    padding-left: 20px;
    width: 500px;
}

.home-1 {
    border: 2px solid #01a3a4;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 5px;
    border: 2px solid #01a3a4;
    border-radius: 2px;
    color: #130f40;
    /* font-size: 10px; */
}

button {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: #01a3a4;
    color: #130f40;
    /* height: 20px; */
    border: 2px solid #01a3a4;
    /* border-bottom: 0; */
    margin-top: 10px;
}

textarea {
    resize: none;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    height: 100px;
}

p,h1,h2,h3 {
    color: #130f40;
    padding: 10px 0 10px 0;
}

.gautam {
    width: 520px;
    justify-content: space-evenly;
    margin-left: 15rem;
    margin-top: 80px;
    border-radius: 10px;
    border-radius: 2px solid black;
    height: 450px;
    background-color: white;
}